@inject HttpClient httpClient
@inject ISnackbar snackBar
@inject NavigationManager navigator

@page "/lines/add"

<MudText Typo="Typo.h5">Nova Linija</MudText>
<MudDivider Class="my-3"/>
<EditForm Model="_line" OnValidSubmit="HandleValidSubmit" >
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem lg="4">
            <MudCard Class="pa-3 pb-6 mb-3">
                <MudTextField Label="Broj" @bind-Value="_line.Number" For="() => _line.Number" />
                <MudTextField Label="Naziv" @bind-Value="_line.Name" For="() => _line.Name" />
                <MudNumericField Step="5" Label="Trajanje" @bind-Value="_line.Duration" For="() => _line.Duration" />
                <MudNumericField Step="(decimal)0.10" Label="Cijena" @bind-Value="_line.Price" For="() => _line.Price" />
            </MudCard>

            <div class="d-flex justify-end">
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit">Spasi</MudButton>
            </div>

        </MudItem>
    </MudGrid>
    
</EditForm>

@code {
    private LineInsertDto _line = new LineInsertDto();

    private async Task HandleValidSubmit()
    {
        var response = await httpClient.PostAsJsonAsync<LineInsertDto>("http://localhost:5001/api/lines/", _line);

        if (response.IsSuccessStatusCode)
        {
            snackBar.Add("Linija uspjesno dodana", Severity.Success);

            navigator.NavigateTo("/lines");
        }
    }
}
